<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Artificial intelligence health care professional assistant</h2>
                    <h3 class="section-subheading text-muted">At Activity Recognition, we aim at helping health care professionals give their patients a more personal quality of care without being slowed down by algorithmic work.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">


                    </span>
                    <h4 class="service-heading">Tailored Recommendations</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/brain.svg"></img>
                    </span>
                    <h4 class="service-heading">Actionable Insights</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/analytics.svg"></img>
                    </span>
                    <h4 class="service-heading">Overall Analytics</h4>
                </div>
            </div>
        </div>
    </section>
